<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><%= @judoca.nome %></div>
  <div class="panel-body">
    <p>
  <strong>Registro cbj:</strong>
  <%= @judoca.registro_cbj %>
    </p>

    <p>
      <strong>Telefone1:</strong>
      <%= @judoca.telefone1 %>
    </p>

    <p>
      <strong>Telefone2:</strong>
      <%= @judoca.telefone2 %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @judoca.email %>
    </p>

    <p>
      <strong>Cpf:</strong>
      <%= @judoca.cpf %>
    </p>

    <p>
      <strong>Observacoes:</strong>
      <%= @judoca.observacoes %>
    </p>

    <p>
      <strong>Rg:</strong>
      <%= @judoca.rg %>
    </p>

    <p>
      <strong>Rua:</strong>
      <%= @judoca.rua %>
    </p>

    <p>
      <strong>Numero residencia:</strong>
      <%= @judoca.numero_residencia %>
    </p>

    <p>
      <strong>Bairro:</strong>
      <%= @judoca.bairro %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @judoca.cidade %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @judoca.estado %>
    </p>

    <p>
      <strong>Cep:</strong>
      <%= @judoca.cep %>
    </p>

    <p>
      <strong>É profesor?</strong>
      <%= @judoca.is_both_roles ? "Sim" : "Não" %>
    </p>
      
  </div>
</div>



<%= link_to 'Edit', edit_judoca_path(@judoca), class: "btn btn-primary" %>
