<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @judoca.nome %>
</p>

<p>
  <strong>Registro cbj:</strong>
  <%= @judoca.registro_cbj %>
</p>

<p>
  <strong>Telefone1:</strong>
  <%= @judoca.telefone1 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @judoca.telefone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @judoca.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @judoca.cpf %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @judoca.observacoes %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @judoca.rg %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @judoca.rua %>
</p>

<p>
  <strong>Numero residencia:</strong>
  <%= @judoca.numero_residencia %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @judoca.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @judoca.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @judoca.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @judoca.cep %>
</p>

<p>
  <strong>Is both roles:</strong>
  <%= @judoca.is_both_roles %>
</p>

<%= link_to 'Edit', edit_judoca_path(@judoca) %> |
