<p id="notice"><%= notice %></p>
<h3>Alunos</h3>
<div class="row text-center">
  <div class="col-md-12">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Faixa</th>
            <th>
              <%= form_tag(alunos_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search], class: "search-bar rounded") %>
                <%=submit_tag "Search", class: "btn-success rounded" %>
              <% end %>
            </th>
            
          </tr>
        </thead>
        <tbody>
          <% @alunos.each do |aluno| %>
            <tr>
              <td><%= aluno.nome %></td>
              <td><%= aluno.telefone1 %></td>
              <td><%= aluno.email %></td>
              <td><%= aluno.cpf %></td>
              <td>
                <%= link_to 'Show', aluno %>
                <%= link_to 'Edit', edit_aluno_path(aluno) %>
                <%= link_to 'Destroy', aluno, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


<%= link_to (image_tag 'plus-circle-solid.svg', class: "new-button"), new_aluno_path %>
