<p id="notice"><%= notice %></p>
<h3>Alunos</h3>
<div class="row text-center">
  <div class="col-md-12">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Cpf</th>
            <th>
              <%= form_tag(alunos_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search], class: "search-bar rounded") %>
                <%=submit_tag "Search", class: "btn-success rounded" %>
              <% end %>
            </th>
            
          </tr>
        </thead>
        <tbody>
          <% @judocas.each do |judoca| %>
            <tr class="<%=judoca.carteira_status == Judoca::CARTEIRA_STATUS[1]? "expired" : "" %>">
              <td><%= judoca.nome %></td>
              <td><%= judoca.telefone1 %></td>
              <td><%= judoca.email %></td>
              <td><%= judoca.cpf %></td>
              <td>
                <%= link_to 'Show', judoca %>
                <%= link_to 'Edit', edit_judoca_path(judoca) %>
                <%= link_to 'Destroy', judoca, method: :delete, data: { confirm: 'Você tem certeza?' } %>
                <% if judoca.carteira_status == Judoca::CARTEIRA_STATUS[1] %>
                  <%= link_to 'Renovar', judoca_activate_filiation_path(judoca), method: :put, data: { confirm: 'Você quer renovar a carteira desse Judoca?' } %>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


<%= link_to (image_tag 'plus-circle-solid.svg', class: "new-button"), new_judoca_path %>
