<p id="notice"><%= notice %></p>

<h3>Professores</h3>
<div class="row text-center">
  <div class="col-md-12">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Faixa</th>
            
          </tr>
        </thead>
        <tbody>
          <% @professors.each do |professor| %>
            <tr>
              <td><%= professor.nome %></td>
              <td><%= professor.telefone1 %></td>
              <td><%= professor.email %></td>
              <td><%= professor.cpf %></td>
              <td>
                <%= link_to 'Show', professor %>
                <%= link_to 'Edit', edit_professor_path(professor) %>
                <%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


<%= link_to (image_tag 'plus-circle-solid.svg', class: "new-button"), new_professor_path %>
