<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Registro cbj:</strong>
  <%= @professor.registro_cbj %>
</p>

<p>
  <strong>Telefone1:</strong>
  <%= @professor.telefone1 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @professor.telefone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @professor.observacoes %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @professor.rg %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @professor.rua %>
</p>

<p>
  <strong>Numero residencia:</strong>
  <%= @professor.numero_residencia %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @professor.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @professor.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @professor.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @professor.cep %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
