<p id="notice"><%= notice %></p>

<h1>Faixas</h1>

<table>
  <thead>
    <tr>
      <th>Cor</th>
      <th>Data entrega</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faixas.each do |faixa| %>
      <tr>
        <td><%= faixa.cor %></td>
        <td><%= faixa.data_entrega %></td>
        <td><%= link_to 'Show', faixa %></td>
        <td><%= link_to 'Edit', edit_faixa_path(faixa) %></td>
        <td><%= link_to 'Destroy', faixa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faixa', new_faixa_path %>
