<%= form_with(model: entidade, local: true) do |form| %>
  <% if entidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entidade.errors.count, "error") %> prohibited this entidade from being saved:</h2>

      <ul>
        <% entidade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :telefone1 %>
    <%= form.text_field :telefone1, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :telefone2 %>
    <%= form.text_field :telefone2, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :rua %>
    <%= form.text_field :rua, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :numero_residencia %>
    <%= form.text_field :numero_residencia, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :bairro %>
    <%= form.text_field :bairro, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :estado %>
    <%= form.text_field :estado, class: "form-control"%>
  </div>

  <div class="field col-md-6">
    <%= form.label :cep %>
    <%= form.text_field :cep, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
