<p id="notice"><%= notice %></p>
<h3>Entidades</h3>
<div class="row text-center">
  <div class="col-md-12">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col">Rua</th>
            <th>
              <%= form_tag(entidades_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search], class: "search-bar rounded") %>
                <%=submit_tag "Search", class: "btn-success rounded" %>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @entidades.each do |entidade| %>
            <tr>
              <td><%= entidade.nome %></td>
              <td><%= entidade.cnpj %></td>
              <td><%= entidade.telefone1 %></td>
              <td><%= entidade.rua %></td>
              <td>
                <%= link_to 'Show', entidade %>
                <%= link_to 'Edit', edit_entidade_path(entidade) %>
                <%= link_to 'Destroy', entidade, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


<%= link_to (image_tag 'plus-circle-solid.svg', class: "new-button"), new_entidade_path %>
