<!DOCTYPE html>
<html>
  <head>
    <title>Judocas20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      
      <%= link_to (image_tag 'logo.png'), root_path, class: "logo"%>
      
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <br>
      <br>
      
      <a href="#" class="">
        <%= link_to 'Alunos', alunos_path, class: "nav-item"%>
      </a>
      <a href="#" class="">
        <%= link_to 'Professores', professors_path, class: "nav-item"%>
      </a>
      <a href="#" class="">
        <%= link_to 'Entidades', entidades_path, class: "nav-item"%>
      </a>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
    <%= yield %>
  </body>
</html>

